##################################################
# =============== UNITY ==========================
##################################################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/
sysinfo.txt

##################################################
# =============== IDE ============================
##################################################

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# VS Code
.vscode/

# JetBrains Rider
.idea/

##################################################
# =============== OS =============================
##################################################

.DS_Store
Thumbs.db
desktop.ini

##################################################
# =============== UNITY CACHE ====================
##################################################

/Assets/AssetStoreTools*
/Assets/AddressableAssetsData/*/*.bin*
/Assets/StreamingAssets/aa.meta

##################################################
# =============== ANDROID / GRADLE ===============
##################################################

.gradle/
ExportedObj/
il2cppOutput/

##################################################
# =============== TEST / COVERAGE ================
##################################################

*.coverage
*.coveragexml
TestResults/

##################################################
# =============== CRASH ==========================
##################################################

crashlytics-build.properties
